-i https://pypi.org/simple
cachetools==6.2.4; python_version >= '3.9'
certifi==2025.11.12; python_version >= '3.7'
charset-normalizer==3.4.4; python_version >= '3.7'
facebook-sdk==3.1.0
fest==5.2.0; python_version >= '3.7'
google-api-core==2.28.1; python_version >= '3.7'
google-api-python-client==2.187.0; python_version >= '3.7'
google-auth==2.45.0; python_version >= '3.7'
google-auth-httplib2==0.3.0; python_version >= '3.7'
googleapis-common-protos==1.72.0; python_version >= '3.7'
httplib2==0.31.0; python_version >= '3.6'
idna==3.11; python_version >= '3.8'
proto-plus==1.27.0; python_version >= '3.7'
protobuf==6.33.2; python_version >= '3.9'
pyasn1==0.6.1; python_version >= '3.8'
pyasn1-modules==0.4.2; python_version >= '3.8'
pyparsing==3.3.1; python_version >= '3.9'
requests==2.32.5; python_version >= '3.9'
rsa==4.9.1; python_version >= '3.6' and python_version < '4'
uritemplate==4.2.0; python_version >= '3.9'
urllib3==2.6.2; python_version >= '3.9'
